<div class="row">
  <!-- Header -->
  <div class="row">
    <div class="col-md-12">
      <h3><i class="entypo-box"></i>Productos que me interesan</h3>
    </div>
  </div>

  <div class="row">
    <br>
    <div class="col-md-10 col-md-offset-1">

      <table class="table responsive table-hover">
        <thead>
          <tr>
            <th><i class="entypo-picture"> Foto</th>
            <th><i class="entypo-tag"> Nombre</th>
            <th><i class="entypo-eye"> Visitas</th>
            <th><i class="entypo-target"> Interesados</th>
            <th><i class="entypo-cog"> Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="item in session.user.interests | orderBy:'-' track by $index">
            <td ng-click="viewItem(item.id)" class="pointer"><img src="{{'/storage/items/' + item.avatar}}" width="60px"></td>
            <td ng-click="viewItem(item.id)" class="pointer">{{item.name}}</td>
            <td ng-click="viewItem(item.id)" class="pointer">{{item.views}}</td>
            <td ng-click="viewItem(item.id)" class="pointer">{{item.interested}}</td>
            <td ng-click="viewItem(item.id)" class="pointer">
              <span uib-tooltip="Eliminar"><button type="button" class="btn btn-danger"><i class="entypo-trash"></i></button></span>
            </td>
          </tr>
        </tbody>
      </table>

      <hr />
    </div>
  </div>
</div>
