<div class="row">
  <div class="text-center">
    <h2>{{item.name}}</h2>
    <p>{{item.views}} <i uib-tooltip="Visitas" class="entypo-eye"></i> | {{item.interested}} <i uib-tooltip="Interesados" class="entypo-target"></i></p>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h4>Imágenes</h4>
  </div>

  <div ng-show="!isOwn" class="col-md-5 text-right">
    <button ng-click="interestsMe()" ng-disabled="isInterested" id="interestButton" type="button" class="btn btn-blue btn-icon icon-left">
      <span ng-if="isInterested" id="interestButtonText">En tu lista</span>
      <span ng-if="!isInterested" id="interestButtonText">Me Interesa</span>
      <i class="entypo-target"></i></button>
    <button ng-click="triggerOffer()" type="button" class="btn btn-green btn-icon icon-left">Ofertar<i class="entypo-infinity"></i></button>
  </div>
  <div ng-show="isOwn" class="col-md-5 text-right">
    <button type="button" class="btn btn-green btn-icon icon-left">Ver Ofertas<i class="entypo-infinity"></i></button>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="">
      <div class="dropzone text-center">
        <span>
          <div class="dz-preview dz-image-preview" ng-repeat="photo in item.photos track by $index">
            <div class="dz-details">
              <img data-dz-thumbnail="" src="{{'/storage/items/' + photo.content}}" ng-click="showPhoto($index)">
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4>Descripción</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="">
      <div class="dropzone">
        <h4>{{item.description}}</h4>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <br>
  <br>
  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="panel-title">
          <h4>
            Preguntas al dueño
          </h4>
        </div>
      </div>

      <div class="panel-body no-padding">

        <!-- List of Comments -->
        <ul class="comments-list">

          <!-- Comment Entry -->
          <li ng-repeat="question in questions | orderBy:'-' track by $index">

            <div class="comment-details">

              <div class="comment-head">
                <a>{{question.question}}</a>
              </div>

              <p class="comment-text" ng-show="question.status == 1">
                {{question.answer}}
              </p>

              <p class="comment-text" ng-show="question.status == 0">
                - No respondida -
              </p>

              <div class="comment-footer">

                <div class="action-links" ng-show="question.status == 0 && session.user.id == item.user.id && !answerbox[$index]">

                  <a class="approve pointer" ng-click="triggerAnswer($index)">
                    <i class="entypo-reply"></i>
                    Responder
                  </a>

                </div>

                <div class="row" ng-if="question.status == 0" ng-show="answerbox[$index]">
                  <div class="col-md-10 col-md-offset-1">
                    <textarea ng-model="answer.answer" class="form-control autogrow" placeholder="Escribe una respuesta..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;"></textarea>

                    <div class="form-options">

                      <div class="post-submit">
                        <br>
                        <button type="button" id="answerQuestionButton" class="btn btn-primary" ng-click="answerQuestion(question.id)">Responder</button>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </li>

        </ul>

      </div>

    </div>

  </div>

</div>

<div class="row" ng-if="session.user.id != item.user.id">
  <div class="col-md-10 col-md-offset-1">
    <textarea ng-model="new_question.question" class="form-control autogrow" placeholder="Escribe una pregunta..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;"></textarea>

    <div class="form-options">

      <div class="post-submit">
        <br>
        <button type="button" id="sendQuestionButton" class="btn btn-primary" ng-click="sendQuestion()">Preguntar</button>
      </div>

    </div>
  </div>
</div>

<!-- Item selector modal -->
<div class="modal fade" role="dialog" id="itemSelectModal" tabindex="-1" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Nueva oferta</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-centered text-center">
            <h4>Agrega objetos a tu oferta</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-centered text-center" isteven-multi-select input-model="session.user.items" output-model="newItem.settings_categories" on-item-click="catclick( data )" button-label="avatar name" item-label="avatar name" tick-property="ticked">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-centered text-center">
          <hr />
            <h4>Escribe un mensaje para el dueño</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-offset-2">
									<textarea class="form-control autogrow" placeholder="Describe tu oferta" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 48px;"></textarea>
					</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="sendOffer()">Enviar Oferta</button>
      </div>
    </div>
  </div>
</div>


<!-- Photos shower modal -->
<div class="modal fade" role="dialog" id="photoShowerModal" tabindex="-1" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-centered text-center">
            <img src="{{'/storage/items/' + item.photos[selectedPhoto].content}}" ng-click="nextPhoto()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
