<div class="row">
  <!-- Header -->
  <div class="row">
    <div class="col-md-12">
      <h3><i class="entypo-box"></i>Mis Productos</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr />
      <a href="#/me/items/new"><button type="button" class="btn btn-default btn-icon icon-left">
        Nuevo Producto
        <i class="entypo-plus"></i>
      </button></a>
      <hr />
    </div>
    <br>
  </div>

  <div class="row">
    <br>
    <div class="col-md-10 col-md-offset-1">

      <table class="table responsive table-hover">
        <thead>
          <tr>
            <th><i class="entypo-picture"> Foto</th>
            <th><i class="entypo-tag"> Nombre</th>
            <th><i class="entypo-info"> Estado</th>
            <th><i class="entypo-eye"> Visitas</th>
            <th><i class="entypo-target"> Interesados</th>
            <th><i class="entypo-cog"> Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="item in session.user.items | orderBy:'-' track by $index">
            <td ng-click="viewItem(item.id)" class="pointer"><img src="{{'/storage/items/' + item.photos[0].content}}" width="60px"></td>
            <td ng-click="viewItem(item.id)" class="pointer">{{item.name}}</td>
            <td ng-click="viewItem(item.id)" class="pointer" ng-class="{'text-danger': item.status == 1, 'text-info': item.status == 0}">{{parseStatus(item.status)}}</td>
            <td ng-click="viewItem(item.id)" class="pointer">{{item.views}}</td>
            <td ng-click="viewItem(item.id)" class="pointer">{{item.interested}}</td>
            <td ng-click="viewItem(item.id)" class="pointer">
              <span uib-tooltip="Publicar"><button ng-show="item.status == 1" type="button" class="btn btn-white"><i class="entypo-infinity"></i></button></span>
              <span uib-tooltip="Ocultar"><button ng-show="item.status == 0" type="button" class="btn btn-black"><i class="entypo-block"></i></button></span>
              <span uib-tooltip="Editar"><button type="button" class="btn btn-success"><i class="entypo-pencil"></i></button></span>
              <span uib-tooltip="Eliminar"><button type="button" class="btn btn-danger"><i class="entypo-trash"></i></button></span>
            </td>
          </tr>
        </tbody>
      </table>

      <hr />
    </div>
  </div>
</div>
